<p id="notice"><%= notice %></p>

<h1>Listing Cards</h1>

<table>

  <tbody>
    <% @cards.each do |card| %>
      <tr>

        <td class="cards">
        <div class="default">
            <div id="face_image" >
                <img src="<%= card.image %>" />
            </div>
            <div id="company"><%= card.affiliation %></div>
            <div id="position"><%= card.position %></div>
            <div id="name" ><%= card.name %></div>
            <div id="email">E-mail: <%= card.user.email %> </div>
            <div id="tell">Tel: <%= card.phone %></div>
        </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
