<!DOCTYPE html>
<html>
<head>
  <title>Hackday</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar  navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navar navbar-header">
          <a href="../" class="navbar-brand">
	    <%= image_tag("logo_02.png", class: 'fb-btn', id: "logo") -%>
	  </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
	    <li>
	      <% if current_user %>
	      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
	      <% end %>
	    </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="page-header" id="banner"></div>

  <%= yield %>






</body>
</html>
